<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/offcanvas.css" rel="stylesheet">
  </head>

  <body class="bg-light">

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
      <div class="container-fluid">
        <li class="nav-item dropdown">
            <button class="btn btn-outline-success" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false"> 
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{url_for('Registrar_Receta')}}">Registrar Receta</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{url_for('Consultar_Ranking')}}">Consultar Ranking</a></li>
              <li>
                <div class="dropdown-item">
                    <form action="{{url_for('Recetas_por_tiempo')}}" method="post">
                      <label for="tiempo" class="item">Recetas por Tiempo</label>
                      <div class="row-g3">
                        <input type="number" min="0" name="tiempo" class="col-auto has-validation" id="validationServer03" aria-describedby="validationServer03Feedback" placeholder="Tiempo" required>
                        <button type="submit" class="btn btn-outline-secondary btn-sm mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg></button>
                      </div>
                    </form></li>
              <li>
                <div class="dropdown-item">
                  <form action="{{url_for('Recetas_por_ingrediente')}}" method="post">
                    <label for="ingrediente" class="item">Recetas por Ingrediente</label>
                    <div class="row-g3">
                      <input type="text" class="col-auto" name="ingrediente" id="ingrediente" placeholder="Nombre">
                      <button type="submit" class="btn btn-outline-secondary btn-sm mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg></button>
                    </div>
                  </form>
              </li>
            </ul>
          </li>
          <a class="navbar-brand" href="http://localhost:5000/Bienvenido">Restaurante Sancho Panza</a>
          <span class="navbar-text right"></span>
          <li class="navbar-text">
            {{usuario_actual.nombre}}
          </li>
          <a class="btn btn-sm btn-outline-secondary" href="http://127.0.0.1:5000/" >Cerrar Sesión</a>
      </div>
    </nav>

    <!-- USUARIOS -->
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script src="offcanvas.js"></script>
  </body>
</html>